* {
  box-sizing: border-box;
}

.frontendPortfolioPage {
  padding-top: 30px;
  background-color: $camel;
}
.frontendPortfolioOption {
  @include flexCenter(row, start);

  height: 30vh;

  .col-6 {
    @include flexCenter(column, center);
    width: 30vw;

    h2 {
      color: $white;
    }
  }
}
.frontendImgPortfolio {
  @include containerSize();
}

/* The grid itself needs only 4 CSS declarations: */

.myGallery {
  background-color: $camel;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important;

  .item {
    border: solid 5px $blackChocolate;
  }
}

.myGallery img {
  width: 100%;
}

/* declarations for the image caption. Just hover over one of the last 5 images to see it. */

.myGallery .item {
  position: relative;
  overflow: hidden;
}

.myGallery .item img {
  vertical-align: middle;
}

.myGallery {
  .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform: translateY(100%);
    background: $blackChocolate !important;
    opacity: 0.8;
    color: rgb(255, 255, 255);
  }
}

.myGallery .item:hover .caption {
  transform: translateY(0%);
}

.myGallery {
  font-size: 1rem;
}

.arrowTopFrontend {
  z-index: 1000;
}

/* Responsive layout - makes a two column-layout instead of four columns */
// @media screen and (max-width: 800px) {
//   .column {
//     -ms-flex: 50%;
//     flex: 50%;
//     max-width: 50%;
//   }
// }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
//   .column {
//     -ms-flex: 100%;
//     flex: 100%;
//     max-width: 100%;
//   }
// }
