// Theme colors
$black: black;
$camel: #be904e;
$copper: #b38242;
$golderBrown: #956c37;
$flax: #e1c980;
$lightFrenchBeige: #cfac67;
$tan: #d8bd97;
$TanDarker: #d3b288;
$champagne: #e9dac3;
$dutchWhite: #e3d1b5;
$cafeNoir: #3b2c16;
$bistre: #3a2a18;
$blackChocolate: #1d150c;
$white: #fff;
